# -*- coding: utf-8 -*-

[irc]
daemon         = false
server         = 127.0.0.1
port           = 6667
nick           = amazonas
channel        = #amazonas
encode         = utf-8
command_prefix = !
quit_message   = さようなら
actions        = mylog mylearn myjlyrics mysuggest mytalk myoper mynull
schedules      = myschedule

[plugin]
path = /path/to/your/plugin/dir

[event:join:oper]
enable = true
time   = 09:00-12:00 13:00-17:30

[event:join:message]
enable  = true
message = ちょっと通りますよ

[command:help]
enable = true

[command:version]
enable = true

[command:reload]
enable       = true
nick_pattern = ^amzadm$
message      = 設定再読込

[command:activate]
enable  = true
message = 頑張ります
time    = 09:00-12:00 13:00-17:30

[command:deactivate]
enable  = true
message = 寝ます

[command:suggest]
enable    = true
locale    = ja
limit     = 3
nr_retry  = 2
randomize = true
notfound  = 見つかりませんでした

[action:mylog]
enable      = true
action      = log
fallthrough = true
level       = info

[action:mylearn]
enable       = true
action       = learn
fallthrough  = true
server       = 127.0.0.1
port         = 8349
nr_retry     = 2
instance     = first
replace_nick = amazonas

[action:myjlyrics]
enable      = true
percentage  = 1
action      = learn-jlyrics
fallthrough = true
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
instance    = first

[action:mysuggest]
enable      = true
percentage  = 8
action      = suggest
fallthrough = false
message     = もしかして: %(suggested)s
instance    = first
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
locale      = ja

[action:mytalk]
enable      = true
pattern     = amazonas
action      = talk
fallthrough = false
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
instance    = first

[action:myoper]
enable       = true
pattern      = なると(くれ|ください|ちょうだい)
nick_pattern = ^amzadm$
action       = oper
fallthrough  = false
message      = はいよ
time         = 06:00-20:00

[action:mynull]
enable      = true
percentage  = 50
pattern     = こんにちは
action      = null
fallthrough = false
message     = こんにちは %(msgfrom)s さん

[schedule:myschedule]
enable   = true
action   = mytalk
interval = 1234
time     = 09:00-12:00 13:00-17:30
