# -*- coding: utf-8 -*-

[irc]
daemon       = true
server       = 127.0.0.1
port         = 6667
nick         = amazonas
channel      = #amazonas
encode       = utf-8
quit_message = さようなら

[plugin]
path = /path/to/your/plugin/dir

[event:join:oper]
enable = true
time   = 09:00-12:00 13:00-17:30

[command:help]
enable = true

[command:version]
enable = true

[command:reload]
enable  = true
message = 設定再読込

[command:activate]
enable  = true
message = 頑張ります
time    = 09:00-12:00 13:00-17:30

[command:deactivate]
enable  = true
message = 寝ます

[command:suggest]
enable    = true
locale    = ja
limit     = 3
randomize = true
notfound  = 見つかりませんでした

[action:0]
enable       = true
pattern      = .
action       = log
fallthrough  = true
level        = info

[action:1]
enable       = true
pattern      = .
action       = learn
fallthrough  = true
server       = 127.0.0.1
port         = 8349
instance     = first
replace_nick = amazonas

[action:2]
enable      = true
pattern     = amazonas
action      = talk
fallthrough = false
server      = 127.0.0.1
port        = 8349
instance    = first

[action:3]
enable      = true
pattern     = なると(くれ|ください|ちょうだい)
action      = oper
fallthrough = false
message     = はいよ
time        = 06:00-20:00

[action:4]
enable      = true
pattern     = あとひといきじゃ
action      = null
fallthrough = false
message     = パワーをメテオに

[periodic_action:0]
enable   = true
action   = 2
interval = 1234
time     = 09:00-12:00 13:00-17:30
