# -*- coding: utf-8 -*-

[irc]
daemon         = false
server         = 127.0.0.1
port           = 6667
nick           = amazonas
channel        = #amazonas
channel_key    =
encode         = utf-8
command_prefix = !
quit_message   = さようなら
actions        = myreplace mylearn myjlyrics myhtml mysuggest mytalk myoper mynull myrandom
schedules      = myschedule

[plugin]
path = /path/to/your/plugin/dir

[event:all:log]
enable = true
level  = info
format = [%(type)s] [%(target)s] %(source)s> %(message)s
ignore = all_raw_messages ping pong

[event:join:oper]
enable = true
time   = 09:00-12:00 13:00-17:30

[event:join:message]
enable  = true
message = ちょっと通りますよ

[command:help]
enable = true

[command:version]
enable = true

[command:reload]
enable         = true
source_pattern = ^amzadm$
message        = 設定再読込

[command:activate]
enable  = true
message = 頑張ります
time    = 09:00-12:00 13:00-17:30

[command:deactivate]
enable  = true
message = 寝ます

[command:suggest]
enable    = true
locale    = ja
limit     = 3
nr_retry  = 2
randomize = true
notfound  = 見つかりませんでした

[action:myreplace]
enable      = true
action      = replace
fallthrough = true
regex       = お前
replace     = %(source)s

[action:mylearn]
enable        = true
action        = learn
fallthrough   = true
replace_regex = amazonas
replace_with  = %(source)s
server        = 127.0.0.1
port          = 8349
nr_retry      = 2
instance      = first

[action:myjlyrics]
enable      = true
percentage  = 1
action      = learn-jlyrics
fallthrough = true
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
instance    = first

[action:myhtml]
enable      = true
fallthrough = false
pattern     = (https?://\S+)
action      = html
xpath       = //html/head/title
timeout     = 2.0
message     = "%(text_content)s" <%(url)s>

[action:mysuggest]
enable      = true
percentage  = 8
action      = suggest
fallthrough = false
message     = もしかして: %(suggested)s
instance    = first
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
locale      = ja

[action:mygenerate]
enable      = true
pattern     = 今日の一言
action      = generate
fallthrough = false
message     = 天の声が聞こえます……『%(text)s』と。
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
instance    = first

[action:mytalk]
enable      = true
pattern     = amazonas
action      = talk
fallthrough = false
server      = 127.0.0.1
port        = 8349
nr_retry    = 2
instance    = first

[action:myoper]
enable         = true
pattern        = なると(くれ|ください|ちょうだい)
source_pattern = ^amzadm$
action         = oper
fallthrough    = false
message        = はいよ
time           = 06:00-20:00

[action:mynull]
enable      = true
percentage  = 50
pattern     = こんにちは
action      = null
fallthrough = false
message     = こんにちは %(source)s さん

[action:myrandom]
enable      = true
pattern     = おみくじ
action      = random
fallthrough = false
invoke      = omikuji1 omikuji2

[action:omikuji1]
enable      = true
action      = null
fallthrough = false
message     = 凶

[action:omikuji2]
enable      = true
action      = null
fallthrough = false
message     = 大凶
chain       = omikuji2-1

[action:omikuji2-1]
enable         = true
action         = register
fallthrough    = false
register_key   = iiwake
register_value = %(source)s さん、「おおめでたい」という意味ですよ
chain          = omikuji2-2

[action:omikuji2-2]
enable      = true
action      = null
fallthrough = false
message     = %(iiwake)s

[schedule:myschedule]
enable   = true
action   = mytalk
interval = 1234
time     = 09:00-12:00 13:00-17:30
