# -*- coding: utf-8 -*-

[web]
instances = first second third
host      = 127.0.0.1
port      = 8349
daemon    = false
debug     = true

[module]
parsers   = juman mecab
databases = dictdb redisdb sqldb

[textgen:first]
score_threshold = 0.0
nr_retry        = 50
nr_history      = 50
nr_wordclass    = 100
nr_entrypoint   = 100

[textgen:second]
score_threshold = 0.0
nr_retry        = 50
nr_history      = 50
nr_wordclass    = 100
nr_entrypoint   = 100

[textgen:third]
score_threshold = 0.0
nr_retry        = 50
nr_history      = 50
nr_wordclass    = 100
nr_entrypoint   = 100

[markov:first]
level    = 2
maxchain = 50

[markov:second]
level    = 3
maxchain = 50

[markov:third]
level    = 2
maxchain = 50

[parser:morph:first]
type   = Juman
path   = /usr/bin/juman
#args   = -B -u
encode = utf-8

[parser:morph:second]
type = Mecab
#args = --node-format %M\t%H\n

[parser:morph:third]
type = Mecab
#args = --node-format %M\t%H\n

[db:markov:first]
type = Redis
host = localhost
port = 6379
db   = 0

[db:markov:second]
type = Dict
path = /path/to/markov.json

[db:markov:third]
type = SQL
url  = sqlite:////path/to/markov.db
echo = false

[db:entrypoint:first]
type = Redis
host = localhost
port = 6379
db   = 1

[db:entrypoint:second]
type = Dict
path = /path/to/entrypoint.json

[db:entrypoint:third]
type = SQL
url  = sqlite:////path/to/entrypoint.db
echo = false
